body {
    padding:0px;
    margin:0px;
    font-family: 'Arial', 'sans-serif';
    overflow:hidden;
    background:#333;
}

/*IDS*/
#interface {
    margin:20px;
    border:10px inset #ddd;
    box-sizing: border-box;
}

#cabecalho {
    background:#4B0082;
    color:white;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#cabecalho h1 {
    color:turquoise;
    text-shadow: 0px 0px 10px turquoise;
    font-size:40pt;
}

#barra-navegacao {
    background:#800000;
    display:block;
    color:white;
}

#barra-navegacao ul {
    margin:0px;
    list-style-type: none;
}

#barra-navegacao li {
    padding:10px;
    border-left:1px solid #500000;
    box-sizing:border-box;
    transition:background 1s;
}

#barra-navegacao li:hover {
    background:#a02020;
}

#barra-navegacao a {
    color:white;
    font-size:10pt;
    text-transform:uppercase;
    text-decoration:none;
    width:150px;
}

#jogos {
    display:flex;
    align-items:center;
    overflow:auto;
}

#rodape {
    background:#4B0082;
    color:white;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*CLASSES*/
.container {
    display:block;
    border:1px solid #333;
    margin:10px;
    width:300px;
}

.img {
    height:300px;
    width:300px;
    border:1px solid #333;
    background-color:aqua;
    box-sizing:border-box;
}

.btn {
    width:100%;
    display:flex;
    justify-content: center;
}

.btn button {
    background:green;
    color:white;
    padding:10px;
    font-size:10pt;
    text-transform:uppercase;
    border:1px solid #050;
    width:100%;
    transition:background 1s;
}

.btn button:hover {
    background:#2a2;
}
