body {
    padding:0px;
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
    overflow:hidden;
}

/*IDS*/
#interface {
    margin:50px;
    border:1px solid black;
}

#cabecalho {
    background:#4B0082;
    color:white;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px dotted #FF8C00;
}

#cabecalho h1 {
    color:turquoise;
    text-shadow: 0px 0px 10px turquoise;
}

#barra-navegacao {
    background:#800000;
    display:flex;
    color:white;
    align-items:center;
}

#jogos {
    display:flex;
}

#rodape {
    background:#4B0082;
    color:white;
    height:100px;
    display:flex;
    justify-content:center;
    border:2px dotted #FF8C00;
}

/*CLASSES*/





