body {
    padding:0px;
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
    overflow:hidden;
}

/*IDS*/
#interface {
    margin:50px;
    border:1px solid black;
}

#cabecalho {
    background:#4B0082;
    color:white;
    height:100px;
}

#cabecalho hgroup {
    margin:10px;
}

#cabecalho h1 {
    color:turquoise;
    text-shadow: 0px 0px 10px turquoise;
}

#cabecalho h2 {
    color:yellow;
    text-shadow: 0px 0px 10px yellow;
}

#rodape {
    background:#4B0082;
    color:white;
    height:100px;
}

/*CLASSES*/




